.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

img.img-responsive {
    width: 100%;
    height: 100%;
}

.btn {
    padding: 0;
    height: pxTorem(50);
    line-height: pxTorem(50);
    border: 0;
    border-radius: pxTorem(10);
    font-size: pxTorem(30);
}

.btn-orange {
    background-color: $orange;
    border-color: $orange;
    color: $white;
    &:active {
        background-color: darken($orange, 5%);
    }
}

.btn-gray {
    background-color: #b5b5b5;
    color: $white;
}

.enlarge-enter-active {
    transform: scale(1);
    transform-origin: center center;
    transition: .2s;
}

.enlarge-enter {
    transform: scale(0.5); // top: pxTorem(-675);
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-enter {
    transform: translateY(10px);
    opacity: 0;
}

.swiper-pagination-bullet {
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, .5) !important;
    &.swiper-pagination-bullet-active {
        background-color: $white !important;
    }
}