@font-face {
  font-family: 'iconfont';  /* project id 117685 */
  src: url('//at.alicdn.com/t/font_fkgnk7z7077ujtt9.eot');
  src: url('//at.alicdn.com/t/font_fkgnk7z7077ujtt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_fkgnk7z7077ujtt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_fkgnk7z7077ujtt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_fkgnk7z7077ujtt9.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-solved:before { content: "\e61e"; }

.icon-close-circle:before { content: "\e724"; }

.icon-plus-circle:before { content: "\e728"; }

.icon-error:before { content: "\e602"; }

.icon-delete:before { content: "\e604"; }

.icon-location:before { content: "\e60a"; }

.icon-search:before { content: "\e60d"; }

.icon-warn:before { content: "\e60e"; }

.icon-correct-circle-hollow:before { content: "\e60f"; }

.icon-order:before { content: "\e610"; }

.icon-arrows-up:before { content: "\e614"; }

.icon-arrows-down:before { content: "\e615"; }

.icon-arrows-right:before { content: "\e616"; }

.icon-arrows-left:before { content: "\e617"; }

.icon-right:before { content: "\e618"; }

.icon-order-unsolved:before { content: "\e60c"; }

.icon-error-circle:before { content: "\e61c"; }

.icon-correct-circle:before { content: "\e64a"; }

.icon-edit:before { content: "\e611"; }

.icon-car:before { content: "\e61b"; }

