@font-face {
  font-family: 'iconfont';  /* project id 117685 */
  src: url('//at.alicdn.com/t/font_3pefu3hvksqhncdi.eot');
  src: url('//at.alicdn.com/t/font_3pefu3hvksqhncdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3pefu3hvksqhncdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_3pefu3hvksqhncdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3pefu3hvksqhncdi.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-circle:before{ content:"\e724"; }

.icon-drag-up:before{ content:"\e61d"; }

.icon-money:before{ content:"\e654"; }

.icon-product:before{ content:"\e635"; }

.icon-check-in:before{ content:"\e636"; }

.icon-order-unsolved:before{ content:"\e60c"; }

.icon-share:before{ content:"\e67e"; }

.icon-timeline:before{ content:"\e647"; }

.icon-edit:before { content: "\e611"; }

.icon-cart:before { content: "\e600"; }

.icon-error:before { content: "\e602"; }

.icon-collection:before { content: "\e603"; }

.icon-delete:before { content: "\e604"; }

.icon-scan:before { content: "\e605"; }

.icon-config:before { content: "\e607"; }

.icon-sound:before { content: "\e608"; }

.icon-time:before { content: "\e609"; }

.icon-location:before { content: "\e60a"; }

.icon-home:before { content: "\e60b"; }

.icon-refresh:before { content: "\e60c"; }

.icon-search:before { content: "\e60d"; }

.icon-warn:before { content: "\e60e"; }

.icon-correct-circle-hollow:before { content: "\e60f"; }

.icon-order:before { content: "\e610"; }

.icon-user:before { content: "\e612"; }

.icon-drag-down:before { content: "\e613"; }

.icon-arrows-up:before { content: "\e614"; }

.icon-arrows-down:before { content: "\e615"; }

.icon-arrows-right:before { content: "\e616"; }

.icon-arrows-left:before { content: "\e617"; }

.icon-right:before { content: "\e618"; }

.icon-message:before { content: "\e619"; }

.icon-error-circle:before { content: "\e61c"; }

.icon-correct-circle:before { content: "\e64a"; }

.icon-car:before { content: "\e61b"; }

.icon-plus-circle:before { content: "\e728"; }
