@mixin clearfix {
    overflow: hidden;
    _zoom: 1;
}

@mixin text-ellipsis($line:1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin list-inline {
    @include clearfix;
    list-style: none;
    li {
        list-style: none;
        float: left;
    }
}

@mixin active($color:$white,$value:2%) {
    &:active{
        background-color:darken($color,$value);
    }
}